ion-icon {
  color: black;
}


ion-navbar{
    background-color: #98A9B6;
}

.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
  border-color: #ffffff;
}

.segment-md .segment-button {
  color: #ffffff;
}